.breadcrumbs-section {
  padding: 190px 0 100px;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  &__text {
    color: #909090;
  }
}

.breadcrumbs li {
  display: flex;
  align-items: center;
}

.breadcrumbs a {
  text-decoration: none;
}

.breadcrumbs li:not(:last-child) {
  margin-right: 13px;
}

.breadcrumbs li:not(:last-child):after {
  content: "";
  display: block;
  width: 16px;
  height: 1px;
  background: #000;
  margin-left: 13px;
}