.map {
  height: 476px;
  @include flex(row, center, center);
  background: #DDDDDD;
}

.section-contact {
  padding: 130px 0;
}

.contact-item__text:not(:last-child) {
  margin-bottom: 19px;
  font-size: 17px;
  font-weight: 500;
}

.contact-item__text_link {
  font-size: 20px;
}

.section-contact-form {
  padding-bottom: 130px;
}

.contact-form {
  @include flex(column, flex-start, flex-start);
  width: 45%;

  &__input {
    width: 80%;
  }

  &__textarea {
    min-height: 134px;
    width: 100%;
  }

  &__btn {
    margin-bottom: 62px;
  }
}

.contact-form-title {
  font-size: 25px;
  margin-bottom: 65px;
}

.message-for-user-contact-page {
  height: 84px;
  width: 100%;
  background: #F1EADC;
  padding: 10px;
  text-align: center;
  @include flex(row, center, center);
  //display: none;
}
.text-map {
  display: block;
  text-align: center;
}