.important {
  padding: 70px 0 130px;
}

.card_important {
  height: 272px;
  width: 350px;
}

.card__title_important {
  font-size: 25px;
  margin: 37px 0 24px;
}

.card__image_important {
  width: 60px;
  height: 60px;
}

.card__text_important {
  font-size: 17px;
  font-weight: 500;
  color: #000;
}
