.breadcrumbs-section_one-item {
  padding-bottom: 102px;
}

legend {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 43px;
}

.item-discount {
  margin-left: 29px;
  text-decoration: line-through;
}

.one-item-desc {

  &__prices {
    color: #9C9C9C;
    font-size: 30px;
    margin-bottom: 59px;
  }

  &__size {
    margin-bottom: 67px;
  }

  &__color {
    margin-bottom: 59px;
  }

  &__btns {
    @include flex(row, flex-start, center);
  }
}

.item-size-value {
  position: relative;
  margin-bottom: 30px;
}

.item-size-value:not(:last-child) {
  margin-right: 40px;
}

.item-size-value:after {
  position: absolute;
  top: 0;
  left: 0;
  content: attr(value);
  height: 40px;
  width: 40px;
  font-size: 17px;
  font-weight: 500;
  @include flex(row, center, center);
  border: 1px solid #000;
  background: #fff;
}

.item-size-value.active:after {
  color: #fff;
  background: #000;
}

.item-color-value {
  position: relative;
  margin-bottom: 30px;
}

.item-color-value:not(:last-child) {
  margin-right: 40px;
}

.item-color-value:after {
  position: absolute;
  top: -20px;
  left: 0;
  content: "";
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: inherit;
}

.item-size-value.active:after {
  opacity: 0.7;
}

.item-count-btn {
  height: 68px;
  width: 68px;
  margin-right: 5px;
  border: 1px solid #6E9C9F;
  @include flex(row, center, center);
}

.bind-item {
  padding: 130px 0;
}

.bind-item-title {
  font-size: 40px;
  margin-bottom: 92px;
}

.bind-item-goods {
  @include flex(row, flex-start, center);
}

.card_one-item {
  width: 367px;
  margin-right: 30px;
}