.tabs {
  @include flex(row, space-between, center);
  margin-bottom: 92px;
}

.tab-item {
  width: 19%;
  border: 1px solid #000;
  font-size: 17px;
  font-weight: 500;
  padding: 19px 0;
}

.tab-item.active {
  background: #000;
  color: #fff;
}